.aboutus__section {
  background-image: url('https://images.unsplash.com/photo-1534294228306-bd54eb9a7ba8?w=1920&h=1080&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGVhcnRofGVufDB8fDB8fHww');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
